.App {
  text-align: center;
}

.faculty-btn {
  margin: 15px;
}

.card {
  text-align: left;
  width: 23rem;
  margin: 20px 0;
}

.description {
  text-align: left;
}

.page-header {
  margin: 100px;
}